@page
@model PrivacyModel
@{
    ViewData["Title"] = "Sobre nós";
}
<h1>@ViewData["Title"]</h1>

<p>O grupo D é composto por 6 integrantes, sendo estes Carlos Teixeira, Darlan Pugliesi, Emanuel Sales, Pedro Guilherme, Pedro Henrique e Vitor Freitas. Nosso principal objetivo com este website é dar praticidade ao processo de cadastro e organização do banco de dados que relaciona os produtos de um mercado. </p>
